@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #2E4756;
    color: whitesmoke;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}


#container {
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

#container.fullscreen {
    transform: translateX(35%);
}

/* --------------------------- menu panel -------------------------- */

#panel {
    width: 25%;
    background-color: #1e2f39;
    border-radius: 10px;
    border: 4px solid #262628;
    position: fixed;
    height: 97vh;
    z-index: 1000;
    transform: translateX(-110%); /* collapsed by default */
    transition: transform 0.5s ease-in-out;
}

#panel.collapsed {
    transform: translateX(0);
}

#panel h2 {
    position: absolute;
    top: -20px;
    right: 10px;
    color: #a2b8c5;
}

#arrow {
    font-size: 30px;
    position: fixed;
    font-weight: bold;
    top: 0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 5px;
    color: #a2b8c5;
}

#arrow::after {
    content: "Back";
    position: absolute;
    transform: translateX(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 20px;
    padding-top: 7px;
    opacity: 0;
}

#menu {
    font-size: 50px;
    position: fixed;
    font-weight: bold;
    top: 0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #a2b8c5;
}

#menu::after {
    content: "Menu";
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 20px;
    padding-top: 20px;
    opacity: 0;
}

#menu:hover, #arrow:hover {
    color: whitesmoke;
}

#menu:hover::after, #arrow:hover::after {
    transform: translateX(0);
    opacity: 1;
}

/* ----------------------------- main bingo area ---------------------------- */

.head {
    display: flex;
    width: 100%;
    margin-bottom: 10px; 
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    font-size: 50px;
    font-weight: bold;
}

#bingo {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid #262628;
    width: fit-content;
    border-radius: 5px;
}

.card {
    border: 2px solid #262628;
    color: #16262e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card:hover {
    background-color: #d3b568;
    transition: background-color 0.3s ease;
}

.card.toggled {
    background-color: yellow;
}

/* ------------------------------- play bingo ------------------------------- */

